@charset "UTF-8";

/************************************************************************
* filename : common.css
* description : 공통 css
************************************************************************/
/* AppleSDGothicNeoR */

/* ----------------------- font ----------------------- */

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Fredoka:wght@600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
body { 
    font-family: 'Noto Sans KR', 'Fredoka';
}

p { 
    font-family: 'Noto Sans KR';
}

