@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Fredoka:wght@600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
html, body {
	background: #fff;
	letter-spacing: -.2px;
	font-size: 10px;	
}


body, a { 
	margin: 0px;
    padding: 0px;
    color: #343a40;
    font-family: 'Noto Sans KR';
    line-height: 1.5;
    text-decoration: none;
}

button, a {
	cursor: pointer;
	outline: none;
	color: inherit;
}

img {
	vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

input {
	margin: 0;
	line-height: inherit;
	border-radius: 0px;
}